.post-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 400px;
  min-height: 400px;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
  transform-origin: center;
}
